body {
    width: 100%;
    height: auto;
    background-image: url("images/pro.jpg");
    background-size: cover;
  }



  .container {
    width: 100%;
    margin:auto;
  }

p {
  /* 수평 중앙 정렬하기 */
  text-align: center;
}


 /* 헤드 1은 중앙 정렬 */
h1{
  text-align: center;
}




